@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <script type="text/javascript" src="/dist/jquery.validate.js"></script>
}
