@using App.ViewModels.Urls;

@model UrlHistoryEditDto

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label asp-for="OldUrl" class="control-label"></label>
                                        <input asp-for="OldUrl" class="form-control" />
                                        <span asp-validation-for="OldUrl" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="NewUrl" class="control-label"></label>
                                        <input asp-for="NewUrl" class="form-control" />
                                        <span asp-validation-for="NewUrl" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="HttpStatus" class="control-label"></label>
                                        <input asp-for="HttpStatus" class="form-control" />
                                        <span asp-validation-for="HttpStatus" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Edit" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>